<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>소셜 로그인 페이지</title>
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
    <style>
    .container {
      max-width: 400px;
    }
    .btn {
      background-color: white;
      color: black;
      padding: 10px 20px;
      border: 1px solid black;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
    .btn img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  </style>
</head>
<body>
<div class="container">

    <div class="py-5 text-center">
        <h2>Social Login</h2>
    </div>
    <a href="/oauth2/authorization/google" class="btn">
        <img th:src="@{/images/google-signin-button.png}" src="/images/google-signin-button.png" alt="google">
        Sign in with Google
    </a>
    <br />
    <a href="/oauth2/authorization/facebook" class="btn">
        <img th:src="@{/images/facebook-login-button.png}" src="/images/facebook-login-button.png" alt="facebook">
        Sign in with FaceBook
    </a>
    <br />
    <a href="/oauth2/authorization/naver" class="btn">
        <img th:src="@{/images/naver-login-button.png}" src="/images/naver-login-button.png" alt="naver">
        Sign in with Naver
    </a>
    <br />
    <a href="/oauth2/authorization/kakao" class="btn">
        <img th:src="@{/images/kakao-login-button.png}" src="/images/kakao-login-button.png" alt="naver">
        Sign in with Kakao
    </a>
    <br />

</div>
</body>
</html>
